body {
    background-image: linear-gradient(
        180deg, 
        #afb0b3 5%,
        #6b6d6d 20%,
        #8a8b8b 60%,
        #444646 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;  
    justify-content: center;
    position: relative;
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

main > section button {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: EuclideBold;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;
    padding: 9px 23px;
    text-transform:uppercase;
}

#detalhes-container1 {
    font-weight: bold;
}

#detalhes-container1 > li {
    align-items: baseline;
    color: white;
    display: flex;
}

#detalhes-container1 > li p {
    color: gold;
}

#detalhes-container2 {
    font-weight: bold;
}

#detalhes-container2 > li {
    align-items: baseline;
    color: white;
    display: flex;
}

#detalhes-container2 > li p {
    color: gold;
}

#detalhes-container3 {
    font-weight: bold;
}

#detalhes-container3 > li {
    align-items: baseline;
    color: white;
    display: flex;
}

#detalhes-container3 > li p {
    color: gold;
}
